@font-face {
  font-family: 'DS-digi';
  src: url("./fonts/DS-DIGI.ttf") format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'DS-digi';
  src: url("./fonts/DS-DIGIB.ttf") format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'novamono';
  src: url("./fonts/novamono.ttf") format('truetype');
}

:root {
  font-family: 'novamono';
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --clock-size: 3vw;
  --hand-width: 0.2vw;
  --hand-height: 1.3vw;
  --digit-gap: 1vw;
  --digit-divider-size: max(5rem, 6.75vw);
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: max(1rem, 1vw);
  background-color: var(--bg);
}

.theme-light {
  --bg: #ebebeb;
  --color-text: #2e2c2c;
  --color-text-subtitle: #423c3c;
  --color-accent: #cacfef;;
  --time-container-bg: #f0f0f0;
  --clock-bg: linear-gradient(135deg, #eef0ff 30%, #ced3f7);
  --clock-box-shadow: rgba(85, 179, 219, 0.1) 0px 2px 6px 0px, rgba(70, 150, 184, 0.2) 0px 2px 16px 0px;
}

.theme-dark {
  --bg: #0f1115;
  --color-text: #e0e1ff;
  --color-text-subtitle: #e6e6e6;
  --color-accent: #2a2f55;
  --time-container-bg: #262626;
  --clock-bg: linear-gradient(135deg, #3f3f45 25%, #50515b);
  --clock-box-shadow: rgba(85, 179, 219, 0.1) 0px 2px 6px 0px, rgba(70, 150, 184, 0.2) 0px 2px 16px 0px;
}

.theme-retro {
  --bg: #1b1a17;
  --color-text: #e82222;
  --color-text-subtitle: #8a5555;
  --color-accent: #4d3214;
  --time-container-bg: #2b1301;
  --clock-bg: linear-gradient(135deg, #360505 25%, #4c0101);
  --clock-box-shadow: rgba(9, 3, 3, 0.1) 0px 2px 6px 0px, rgba(38, 7, 7, 0.2) 0px 2px 16px 0px;
}

.title {
  font-family: 'DS-digi';
  font-size: max(3.5rem, 4.75vw);
  text-align: center;
  font-weight: 700;
  color: var(--color-text);
  margin: 0;
}

.subtitle {
  font-family: 'DS-digi';
  text-align: center;
  color: var(--color-text-subtitle);
  font-size: max(1.75rem, 2.5vw);
  margin: 0;
}

.theme-toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: max(1rem, 1.5vw);
  margin-top: max(1.5rem, 2vw);
}

.btn-theme-toggle {
  font-family: 'novamono';
  font-size: max(2rem, 2.75vw);
  background: var(--clock-bg);
  color: var(--color-text-subtitle);
  border: 2px solid var(--color-accent);
  border-radius: 0.25rem;
  letter-spacing: 2px;
  padding: 0 max(0.5625rem, 1vw);
  cursor: pointer;

  &:hover {
    background: var(--color-accent);
    color: var(--color-text);
  }
}

.btn-selected {
  border-color: var(--color-text);
  color: var(--color-text); 

  &:hover {
    background: var(--clock-bg);
    border-color: var(--color-text);
    color: var(--color-text); 
  }
}

.time-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--digit-gap);
  background-color: var(--time-container-bg);
  border: 2px solid var(--color-accent);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  padding: max(3rem, 4vw);
  margin: auto 0;
}

.digit {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.digit-divider {
  display: flex;
  align-items: center;
  color: var(--color-text);
  font-size: var(--digit-divider-size);
}

.clock {
  position: relative;
  width: var(--clock-size);
  height: var(--clock-size);
  border-radius: 50%;
  border: 2px solid var(--color-accent);
  background: var(--clock-bg);
  box-shadow: var(--clock-box-shadow);

  // Before is hour hand, after is minute hand
  &::before, &::after {
    position: absolute;
    content: '';
    background: var(--color-text);
    width: var(--hand-width);
    height: var(--hand-height);
    top: 50%;
    left: 50%;
    transform-origin: center bottom;
    border-radius: 100vmax;
    transition: transform 0.2s ease-in-out;
  }

  &::before {
    transform: translate(-50%, -100%) rotate(var(--hour-hand));
  }

  &::after {
    transform: translate(-50%, -100%) rotate(var(--minute-hand));
  }
}
