@media (max-width: 1250px) {
  .theme-toggle-container {
    margin-top: 2rem;
  }
}

@media (max-width: 900px) {
  .app-container {
    padding: 1rem 0;
  }

  .time-container {
    padding: 3rem 1.5rem;
  }
}

@media (max-width: 750px) {
  :root {
    --digit-divider-size: 3rem;
  }
}

@media (max-width: 600px) {
  :root {
    --clock-size: 1.5625rem;
    --hand-width: 0.0625rem;
    --hand-height: 0.625rem;
    --digit-gap: 0.25rem;
  }

  .title {
    font-size: 2.5rem;
  }

  .subtitle {
    font-size: 1.375rem;
    text-wrap: balance;
    padding: 0 1rem;
  }

  .theme-toggle-container {
    gap: 1.5rem;
    margin-top: 1.5rem;
  }

  .btn-theme-toggle {
    font-size: 1.5rem;
  }

  .time-container {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-auto-rows: auto;
    row-gap: 0.625rem;
    justify-content: center;
    background: transparent;
    border: none;
    box-shadow: none;
    margin: 1.5rem 0 0 0;
    padding: 0;
  }

  /* hide dividers entirely on mobile */
  .digit-divider {
    display: none;
  }
}
